
/* index.html */

.bg-1 {
  background-color: #4f9b66;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  
}

.bg-2 {
  background-color: #a4c8b4;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-brand {
  display: inline-block;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: bold;
}

#navbarNav {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}



/* portfolio.html */

.card {
  width: 400px;
  height: 400px;
  color: #ffffff;
}

.card-title{
  background-color: black;
}




/* contact/html */

.contact1-form {
  position: relative;
  margin-right: auto;

}