/* Menu Hamburger */
html{
    background-color: #0b0c10;
    font-family:'Oxygen', sans-serif;
}

    #menuToggle
    {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a
    {
    text-decoration: none;
    color: #ffffff;;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
    color: #66fcf1;
    }


    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0;
    z-index: 2;
    
    -webkit-touch-callout: none;
    }


    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #66fcf1;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),

                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* Transforms the hamburger into a crossmark */
        #menuToggle input:checked ~ span
        {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        }


        #menuToggle input:checked ~ span:nth-last-child(3)
        {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
        }


        #menuToggle input:checked ~ span:nth-last-child(2)
        {
        transform: rotate(-45deg) translate(0, -1px);
        }

/* position for hamburger menu */
    #menu
    {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #1f2833;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    font-family:'Oxygen', sans-serif;
    }

    #menuToggle input:checked ~ ul
    {
    transform: none;
    }


        /* Title Animation */
        *{
            padding: 0;
            margin: 0;
            border-radius: 0;
          }
          body{
            background: #0b0c10;
          }
          .container{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          .container span{
            text-transform: uppercase;
            display: block;
          }
          .text1{
            color: #ffffff;
            font-size: 100px;
            font-weight: 700;
            letter-spacing: 2px;
            word-spacing: 4px;
            margin-bottom: 20px;
            background: #0b0c10;;
            position: relative;
            animation: text 2.5s 1;
            font-family:'Oxygen', sans-serif;
          }
          .text2{
            font-size: 30px;
            font-family:'Oxygen', sans-serif;
            word-spacing: 2px;
            color: #66fcf1;
          }
          @keyframes text {
            0%{
              color: #0b0c10;;
              margin-bottom: -40px;
            }
            30%{
              letter-spacing: 25px;
              margin-bottom: -40px;
            }
          }


          /* Portfolio Cards & Contact Page */
          
          .card-deck {
              margin-left: auto;
              margin-right: auto;
              margin-top: 360px;
              border-radius: 0;
              font-family:'Oxygen', sans-serif;
          }

          #card-deck-2{
              margin-top: auto;
              border-radius: 0;
              font-family:'Oxygen', sans-serif;
          }

          .btn-main {
            display: inline-block;
            font-size: 1.3rem;
            font-family:'Oxygen', sans-serif;
            color: #000;
            background-color: transparent;
            text-decoration: none;
            padding: 15px 20px;
            box-shadow: none;
            border: 2px solid #66fcf1;
            color: #fff;
            border-radius: 3px;
            transition: .4s;
            outline: none;
        }
        
        .btn-main:hover,
        .btn-main:focus {
            background: #45a29e;
            color: #fff;
            box-shadow: none;
            transform: scale(.9);
            outline: none !important;
        }

        .mb-4{
            font-family:'Oxygen', sans-serif;
            margin-left: 400px;
            margin-right: 25px;
            margin-top: 200px;
        }


                /* Social Media Topbar */

                